/*
Author: 	Joe K (and see citation)
Version Date:	2019/04/09
Description:

Handles tooltip animation.

ASSUMPTION: 	1) There is at least one HTML object with class "tooltiptext", with a parent of class "tooltip"

CITATION: https://www.w3schools.com/howto/howto_css_tooltip.asp
*/

/* Tooltip container */
.tooltip
{
	position: relative;
	display: inline-block;
	cursor: pointer;
}

/* Tooltip text */
.tooltip .tooltiptext
{
	visibility: hidden;
	background-color: #555;
	color: #fff;
	font-size: 12pt;
	font-family: Georgia;
	text-align: center;
	font-weight: normal;
	font-style: normal;
	width: 500%;
	padding: 5px 0;
	border-radius: 6px;
	white-space: pre-line;

	/* Position the tooltip text */
	position: absolute;

	z-index: 1;
	right: 0;
	bottom: 120%;

	/* Fade in tooltip */
	opacity: 0;
	transition: opacity 0.3s;
}

/* Tooltip arrow */
/*
.tooltip .tooltiptext::after
{
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #555 transparent transparent transparent;
}
*/

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext
{
	visibility: visible;
	opacity: 1;
}
