/*
Author: 	Joe K (and see citation)
Version Date:	2019/04/09
Description:

Handles tooltip animation.

ASSUMPTION: 	1) There is at least one HTML object with class "tooltiptext", with a parent of class "tooltip"

CITATION: https://www.w3schools.com/howto/howto_css_tooltip.asp
*/

/* tooltip container */
.tooltip
{
	/* positioning */
	position: relative;
	display: flex;
	justify-content: center;
	
	cursor: pointer;
}

/* tooltip text */
.tooltip .tooltiptext
{
	/* positioning */
	position: absolute;
	top: 2em;
	z-index: 1;
	right: 0;
	
	/* format */
	visibility: hidden;
	background-color: rgba(0, 0, 0, .7);
	color: #fff;
	font-size: 12pt;
	font-family: Georgia;
	text-align: center;
	font-weight: normal;
	font-style: normal;
	padding: 5px 0;
	border-radius: 6px;
	white-space: pre-line;

	/* fade in tooltip */
	opacity: 0;
	transition: opacity 0.5s;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext
{
	visibility: visible;
	opacity: 1;
}
